.layout {
  height: 100vh;
  display: flex;
  background-size: 400% 400%;
  background: linear-gradient(
    36deg,
    rgba(54, 24, 112, 1) 0%,
    rgba(190, 30, 231, 1) 100%
  );

  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group {
  width: 310px;
}

.form-group > label {
  color: #fff;
  text-transform: uppercase;
}

.form {
  display: flex;
  flex-flow: column;
  align-items: center;
}

button {
  width: 100%;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
